body {
    font-family: 'Inter', sans-serif;
    background-color: #F3F4F6;
  }
  .cream-bg {
    background-color: #FFF6E9;
  }
  .yellow-bg {
    background-color: #FFCC66;
  }
  .light-purple-bg {
    background-color: #E6DDFF;
  }
  .purple-gradient {
    background-color: #7c4dff;
  }
  .chart-bar {
    background-color: #7c4dff;
    border-radius: 9999px;
    width: 1.5rem;
  }